.stupid-doodoo{
    text-align: center;
    background-color: #4f2f7e;
    animation:spin 4s linear infinite;
}

@keyframes spin { 
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}